@typeparam TContent where TContent : FilterableModelBase

@if (!string.IsNullOrEmpty(Header) && FilteredContent.Count > 0 || ShowHeaderWithNoResults)
{
    <h2>@Header</h2>
}

@if (Content.Count > 0)
{
    if (FilteredContent.Count > 0)
    {
        <table class="@Class">
            <thead>
                <tr>
                    @HeaderRow
				</tr>
            </thead>
            @if (IncludeTBodyTag)
            {
                <tbody>
                    @foreach (var item in FilteredContent)
                    {
                        @ContentRow(item)
                    }
                </tbody>
            }
            else
                @foreach (var item in FilteredContent)
                {
                    @ContentRow(item)
                }
        </table>
    }
    else if (ShowNoResultsText)
    {
        <NoResults/>
    }
}
else
{
    <h3 class="loading">Loading...</h3>
}

@code {
    /*********
	** Events
	*********/
    /// <summary>Invoked when the state of the table gets changed.</summary>
    public event Action StateChanged;


    /*********
    ** Fields
    *********/
    /// <summary>The content of the table.</summary>
    private List<TContent> _Content = new();

    /// <summary>The filtered content of the table.</summary>
    private List<TContent> FilteredContent = new();


    /*********
    ** Accessors
    *********/
    /// <summary>Whether the table currently has results.</summary>
    public bool HasResults => FilteredContent.Count > 0;
    
    /// <summary>The header row of the table.</summary>
    [Parameter]
    public RenderFragment HeaderRow { get; set; }

    /// <summary>A content row of the table.</summary>
    [Parameter]
    public RenderFragment<TContent> ContentRow { get; set; }
    
    /// <summary>The header of the table.</summary>
    [Parameter]
    public string Header { get; set; }

    /// <summary>Whether the header should be shown when no results in the table are shown.</summary>
    [Parameter]
    public bool ShowHeaderWithNoResults { get; set; }
    
    /// <summary>Whether the "no results" text should be drawn when no results are in the table.</summary>
    [Parameter]
    public bool ShowNoResultsText { get; set; } = true;

    /// <summary>The content of the table.</summary>
    [Parameter]
    public List<TContent> Content
    {
        get => _Content;
        set
        {
            value ??= new();

            if (_Content?.Count == 0)
                FilteredContent = value;

            _Content = value;
        }
    }

    /// <summary>The search box to use to filter the table.</summary>
    [Parameter]
    public SearchBox SearchBox { get; set; }

    /// <summary>Whether a <tbody> tag should added wrapping all content rows.</summary>
    [Parameter]
    public bool IncludeTBodyTag { get; set; } = true;

    /// <summary>The class of the table.</summary>
    [Parameter]
    public string Class { get; set; }
    
    /// <summary>A table references collection to add this table to.</summary>
    [Parameter]
    public TableReferences<TContent> TableReferences { get; set; }


    /*********
    ** Protected Methods
    *********/
    /// <inheritdoc/>
    protected override void OnInitialized()
    {
        TableReferences?.Add(this);

        SearchBox.ValueChanged += () =>
        {
            FilteredContent = Content.Where(item => SearchBox.IsObjectVisible(item)).ToList();
            StateHasChanged();
            StateChanged?.Invoke();
        };
    }
}
