@page "/examanswers"
@inject HttpClient Http;

<div class="content-normal">
    <h1>Exam Answers</h1>
    @if (AllExamAnswers != null)
        foreach (var month in Months)
        {
            <div>
                <h2>@month</h2>
                <table>
                    <thead>
                        <tr>
                            <th class="text-align-centre">Date</th>
                            <th class="column-very-wide">Question</th>
                            <th class="column-wider">Answer</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var examAnswer in GetExamAnswersByMonth(month))
                        {
                            <tr class="alternate-colour">
                                <td class="text-secondary text-align-centre">@examAnswer.DateAsked</td>
                                <td class="white-space-pre-line">@examAnswer.QuestionAsked</td>
                                <td>@examAnswer.QuestionAnswer</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
</div>

@code {
    /*********
    ** Fields
    *********/
    /// <summary>The months which exam answers are asked in.</summary>
    private static readonly List<string> Months = new() { "April", "May", "June", "July", "August", "September", "October", "November", "December", "January", "February" };

    
    /*********
    ** Accessors
    *********/
    /// <summary>All the exam answers to display.</summary>
    public List<ExamAnswer> AllExamAnswers { get; private set; }


    /*********
    ** Protected Methods
    *********/
    /// <inheritdoc/>
    protected override async Task OnInitializedAsync() => AllExamAnswers = await Http.GetFromJsonAsync<List<ExamAnswer>>("api/GetAllExamAnswers");

    
    /*********
    ** Private Methods
    *********/
    /// <summary>Retrieves the exam answers for a specific month.</summary>
    /// <param name="month">The month whose exam answers should be retrieved.</param>
    /// <returns>The exam answers for <paramref name="month"/>.</returns>
    private List<ExamAnswer> GetExamAnswersByMonth(string month) =>
        AllExamAnswers
            .Where(examAnswer => examAnswer.Month.ToString() == month)
            .ToList();
}
