@page "/"

<div class="content-normal">
    <h1>About</h1>

    <div>
        <p class="text-align-centre">Persona 4 Golden Helper is a personal project to bring all the important info to one place.</p>
        <p class="text-align-centre">The site is an ongoing open source project (link in the navbar), if you find any issues with the site please report them on the GitHub repo.</p>
        <p class="text-align-centre">All the sources for the data collected on the site are linked below, with some areas I've obtained manually in-game.</p>
    </div>

    <table class="sources">
        <thead>
            <tr>
                <th>Information</th>
                <th>Link(s)</th>
            </tr>
        </thead>

        <tbody>
        @foreach (var source in Sources)
        {
            <tr class="alternate-colour">
                <td>@source.Key</td>
                <td>
                    @foreach (var link in source.Value)
                    {
                        <a href="@link.Link" target="_blank">@link.DisplayName</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@code {
    /*********
    ** Fields
    *********/
    /// <summary>The sources to some of the data on the site.</summary>
    private readonly Dictionary<string, List<(string DisplayName, string Link)>> Sources = new()
    {
        ["Personas"] = new()
        {
            ("Megami Tensei Wiki", "https://megamitensei.fandom.com/wiki/List_of_Persona_4_Personas"),
            ("IGN Wiki", "https://uk.ign.com/wikis/shin-megami-tensei-persona-4-golden/Personas")
        },
        ["Persona Recipe Calculator"] = new()
        {
            ("Persona 4 Fusion Calculator", "https://github.com/arantius/persona-fusion-calculator"),
            ("Persona 4 Wiki - Fusion Theory", "http://persona4.wikidot.com/fusiontutor"),
            ("Game FAQs", "https://gamefaqs.gamespot.com/vita/641695-persona-4-golden/map/8037-fusion-chart")
        },
        ["Skills"] = new() { ("IGN Wiki", "https://uk.ign.com/wikis/shin-megami-tensei-persona-4-golden/Skill_List") },
        ["Books"] = new() { ("Game FAQs", "https://gamefaqs.gamespot.com/vita/641695-persona-4-golden/faqs/65714") },
        ["Exam Answers"] = new() { ("Game FAQs", "https://gamefaqs.gamespot.com/vita/641695-persona-4-golden/faqs/65427") },
        ["Gardening"] = new() { ("Persona 4 Golden Guide", "https://sites.google.com/site/persona4goldenguide/everything-else/gardening") },
        ["Quests"] = new()
        {
            ("Game FAQs", "https://gamefaqs.gamespot.com/vita/641695-persona-4-golden/faqs/68730"),
            ("IGN Wiki", "https://uk.ign.com/wikis/shin-megami-tensei-persona-4-golden/Quests")
        },
        ["Shadows"] = new() { ("Magami Tensei Wiki", "https://megamitensei.fandom.com/wiki/Category:Persona_4_Golden_Shadows") },
        ["Lunches"] = new() { ("IGN Wiki", "https://uk.ign.com/wikis/shin-megami-tensei-persona-4-golden/Boxed_Lunches") },
        ["Skill Cards"] = new() { ("Google Docs", "https://docs.google.com/file/d/0BwDCz_Mqaf8RTmJac1hMS1dQOUU/edit?pli=1") },
        ["Armor, Accessories, and Weapons"] = new() { ("Magami Tensei Wiki", "https://megamitensei.fandom.com/wiki/List_of_Persona_4_Items") }
    };
}