@page "/lunches"
@inject HttpClient Http;

<div class="content-very-narrow">
    <h1 class="text-align-centre">Lunches</h1>
    <table>
        <thead>
            <tr>
                <th class="column-slim text-align-centre">Name</th>
                <th class="column-slim text-align-centre">Method</th>
            </tr>
        </thead>
        <tbody>
            @if (AllLunches != null)
                foreach (var lunch in AllLunches)
                {
                    <tr class="alternate-colour">
                        <td class="text-align-centre">@lunch.Name</td>
                        <td class="text-align-centre">@lunch.Method</td>
                    </tr>
                }
        </tbody>
    </table>
</div>

@code {
    /*********
    ** Accessors
    *********/
    /// <summary>All the lunches to display.</summary>
    public List<Lunch> AllLunches { get; private set; }


    /*********
    ** Protected Methods
    *********/
    /// <inheritdoc/>
    protected override async Task OnInitializedAsync() => AllLunches = await Http.GetFromJsonAsync<List<Lunch>>("api/GetAllLunches");
}
