img {
    max-width: 26px;
    height: auto;
}

.affinity-weak {
    color: red;
    font-weight: bold;
}

.affinity-resistant {
    color: #9a10b5;
    font-weight: bold;
}

.affinity-null {
    color: dodgerblue;
    font-weight: bold;
}

.affinity-reflect {
    color: #FFD700;
    font-weight: bold;
}

.affinity-absorb {
    color: #16ce3c;
    font-weight: bold;
}