@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* scrollbar width */
::-webkit-scrollbar {
    width: 7px;
}

/* text in text input */
::placeholder {
    text-align: center;
}

/* Styling for layout header, including navbar */
#page-header {
    padding-top: 10px;
}

    #page-header .header {
        font-size: 30px;
        text-decoration: none;
        font-weight: bold;
    }

    #page-header ul {
        float: none;
    }

    #page-header a {
        text-decoration: none;
        padding: 15px;
        background-color: transparent; /* without this a weird result can happen when dragging one of the navbar items, without this it will return to the bootstap styling of a white background */
    }

/* Bootstrap overrides */
.navbar-nav > li {
    float: none;
    display: inline-block;
}

@media (max-width: 768px) {
    .navbar-nav > li {
        width: 100%;
        float: none;
        display: inline-block;
    }
}

.navbar-toggle {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
    padding: 0px 10px 10px 10px;
}

#page-header a:hover {
    background-color: transparent; /* overrides the background bootstrap puts on nav items */
}

.row {
    margin: 0;
    width: 100%;
}

table {
    padding: 0 !important; /* this was causing 2 big padding areas at either side of each tr */
}

/* Site wide tag styling */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

p {
    font-size: 18px;
}

img {
    max-width: 26px;
    height: auto;
}

input[type=text] {
    border-radius: 5px;
    padding: 7px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 100%;
    box-shadow: 0 0 3px transparent;
    transition: box-shadow .5s;
}

    input[type=text]:focus {
        outline: none;
    }

/* Site wide default table styling */
table {
    border-collapse: separate; /* this is to hide the corners on the 4 corner tds/ths that don't have a border radius, which would otherwise show through */
    border-radius: 5px;
    margin-bottom: 30px;
    border-radius: 5px;
}

    table th {
        position: sticky !important;
        top: -1px;
        border: none;
        padding: 7px !important;
        font-size: 18px;
    }

    table td {
        padding: 5px 7px !important;
        font-size: 16px;
    }

    table tr {
        transition: background-color .25s;
    }

/* Persona recipes section styling */
#recipe-scroll-container {
    border-radius: 5px;
    overflow: hidden; /* this is needed as it cuts to corner off the scroll bar */
    padding: 0;
    margin-bottom: 30px;
}

#recipe-scroll {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
}

    #recipe-scroll table {
        margin-bottom: 0;
        border-radius: 0;
        border: none;
        width: 100%;
    }

/* Table column widths that don't fit nicely in bootstrap col-x styling */
.extra-slim-column {
    width: 5%;
}

.slim-column {
    width: 8%;
}

.wide-column {
    width: 15%;
}

/* Misc widely used class styling */
.text-align-center {
    text-align: center;
}

.padding-right {
    padding-right: 35px;
}

.white-space-pre-line {
    white-space: pre-line;
}

.font-bold {
    font-weight: bold;
}

#return-to-top {
    width: 50px;
    height: 50px;
    bottom: 25px;
    right: 25px;
    position: fixed;
    border-radius: 50%;
    outline: none;
    transition: background-color 1s;
}

    #return-to-top #label {
        font-size: 47px;
        font-weight: bold;
        padding-top: 5px;
        cursor: pointer;
    }

/* Text colouring */
.text-primary, a:link, a:visited {
    transition: all .5s;
}

    a:link:hover {
        text-decoration: none;
    }

/* Style an element like a button, used on the 'See More' text for persona recipes */
.button {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 0;
}

    .button:hover {
        cursor: pointer;
    }

/* Persona types */
.type-ultimate {
    color: #4b75b3;
}

.type-new-game {
    color: #b30000;
}

/* Shadow types */
.type-normal {
    color: #16ce3c;
}

.type-miniboss {
    color: #ffd700;
}

.type-boss {
    color: #b30000;
}

/* Skill cost */
.cost-sp {
    color: #e8b819;
}

.cost-hp {
    color: #f71df0;
}

/* Persona / Shadow element affinities */
.affinity-weak {
    color: red;
}

.affinity-resistant {
    color: #9a10b5;
}

.affinity-null {
    color: dodgerblue;
}

.affinity-reflect {
    color: #ffd700;
}

.affinity-absorb {
    color: #16ce3c;
}


/* Desktop/Mobile-hidden styling */
@media (max-width: 768px) {
    .mobile-hidden {
        display: none;
    }

    .desktop-hidden {
        display: table-cell;
    }
}

@media (min-width: 769px) {
    .mobile-hidden {
        display: table-cell;
    }

    .desktop-hidden {
        display: none;
    }
}