::-webkit-scrollbar-track {
    background-color: #eee;
}

/* scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #bbb;
}

    /* scrollbar handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #aaa;
    }

::placeholder {
    color: #999;
}

/* Site wide tag colour styling */
body {
    color: rgba(0, 0, 0, 0.85);
}

input[type=text] {
    background-color: #eee;
    border: 1px solid #ddd;
    color: #555;
}

    input[type=text]:focus {
        box-shadow: 0 0 3px #999;
    }

/* Site wide default table colour styling */
table {
    border: 1px solid #ddd;
    color: rgba(0, 0, 0, 0.85);
}
    table.alterate-tbody-colour tbody:nth-child(even) {
        background-color: #f8f8f8;
    }

    table th {
        background-color: #eee;
        color: rgba(0, 0, 0, 0.85);
    }

    table tbody.alterate-row-colour tr:nth-child(even) {
        background-color: #f8f8f8;
    }

    table tr:hover, .hover-table-cell { /* hover-table-cell is applied in the 'mergeRowHightlightFix' to fix rowspan highlight issues */
        background-color: #ddd !important;
    }

/* Persona recipes section styling */
#recipe-scroll-container {
    border: 1px solid #ddd;
}

/* Return to top button colour styling */
#return-to-top {
    background-color: #ddd;
    border: 1px solid #ccc;
}

    #return-to-top:hover {
        background-color: #f6f6f6;
    }

/* Text colouring */
.text-bright {
    color: rgba(0, 0, 0, 0.85);
}

a:link, a:visited {
    color: #4183C4;
}

    a:link:hover {
        filter: brightness(66%);
    }

.text-error {
    color: red;
}

.text-dark {
    color: #666;
}

/* Colour the button styled elements, used on the 'See More' text for persona recipes */
.button {
    background-color: #eee;
}