@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* scrollbar width */
::-webkit-scrollbar {
    width: 15px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
    background: #2a2a2a;
}

/* scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #444;
}

    /* scrollbar handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

/* Styling for layout header, including navbar */
#page-header {
    padding-top: 10px;
}

    #page-header .header {
        font-size: 30px;
        text-decoration: none;
        font-weight: bold;
        color: #c5c1b9;
    }

    #page-header ul {
        float: none;
    }

    #page-header a {
        text-decoration: none;
        color: #c5c1b9;
        padding: 15px;
    }

        #page-header a:hover {
            background-color: transparent; /* overrides the background bootstrap puts on nav items */
        }

/* override bootstraps navbar styling to centeralise it and to make it stacked when in mobile mode */
.navbar-nav > li {
    float: none;
    display: inline-block;
}

@media (max-width: 768px) {
    .navbar-nav > li {
        width: 100%;
        float: none;
        display: inline-block;
    }
}

.navbar-toggle {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
}

/* Site wide tag styling */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: #121212;
    color: #c5c1b9;
}

p {
    font-size: 18px;
}

img {
    max-width: 26px;
    height: auto;
}

/* Site wide default table styling */
table {
    border: 1px solid #353535;
    border-collapse: collapse;
    color: #808080;
    margin-bottom: 30px;
}

    table th {
        background-color: #2a2a2a;
        color: #B4B4B4;
        position: sticky !important;
        top: -1px;
        border: none;
        padding: 7px !important;
        font-size: 18px;
    }

    table td {
        padding: 5px 7px !important;
        font-size: 18px;
    }

    table tr {
        background-color: #202020;
    }

        table tr:hover, .hover-table-cell { /* hover-table-cell is applied in the 'mergeRowHightlightFix' to fix rowspan highlight issues */
            background-color: #333;
        }

/* Persona recipes section styling */
#recipe-scroll {
    max-height: 500px;
    overflow: auto;
    padding: 0;
    margin-bottom: 30px;
}

    #recipe-scroll table {
        margin-bottom: 0;
    }


/* Table column widths that don't fit nicely in bootstrap col-x styling */
.extra-slim-column {
    width: 5%;
}

.slim-column {
    width: 8%;
}

.wide-column {
    width: 15%;
}

/* Misc widely used class styling */
.text-align-center {
    text-align: center;
}

.padding-right {
    padding-right: 35px;
}

.white-space-pre-line {
    white-space: pre-line;
}

/* Text colouring */
.text-bright, a:link, a:visited {
    color: #c5c1b9
}

    a:link:hover {
        text-decoration: none;
        filter: brightness(150%);
    }

.text-error {
    color: red;
}

.text-dark {
    color: #808080;
}

/* Style an element like a button, used on the 'See More' text for persona recipes */
.button {
    padding: 10px;
    background-color: #2a2a2a;
    margin-bottom: 0;
}

    .button:hover {
        cursor: pointer;
    }

/* Persona types */
.type-ultimate {
    color: #4b75b3 !important;
}

.type-new-game {
    color: #b30000 !important;
}

/* Shadow types */
.type-normal {
    color: #16ce3c;
}

.type-miniboss {
    color: #FFD700;
}

.type-boss {
    color: #b30000;
}

/* Skill cost */
.cost-sp {
    color: #e8b819;
    font-weight: bold;
}

.cost-hp {
    color: #f71df0;
    font-weight: bold;
}

/* Persona / Shadow element affinities */
.affinity-weak {
    color: red;
    font-weight: bold;
}

.affinity-resistant {
    color: #9a10b5;
    font-weight: bold;
}

.affinity-null {
    color: dodgerblue;
    font-weight: bold;
}

.affinity-reflect {
    color: #FFD700;
    font-weight: bold;
}

.affinity-absorb {
    color: #16ce3c;
    font-weight: bold;
}

/* Mobile-hidden styling */
@media (max-width: 768px) {
    .mobile-hidden {
        display: none;
    }
}