@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* scrollbar width */
::-webkit-scrollbar {
    width: 15px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
    background: #2a2a2a;
}

/* scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #444;
}

    /* scrollbar handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

#page-header {
    padding-top: 10px;
}

    #page-header .header {
        font-size: 30px;
        text-decoration: none;
        font-weight: bold;
        color: #c5c1b9;
    }

    #page-header li {
        display: inline;
    }

        #page-header li a {
            text-decoration: none;
            color: #c5c1b9;
        }

    #page-header .divider {
        font-weight: bold;
        color: #555;
    }

body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #c5c1b9;
}

img {
    max-width: 26px;
    height: auto;
}

table {
    border: 1px solid #353535;
    border-collapse: collapse;
    color: #808080;
    margin-bottom: 30px;
}

    table th {
        background-color: #2a2a2a;
        color: #B4B4B4;
        position: sticky;
        top: -1px;
        border: none;
        padding: 7px;
    }

    table td {
        padding: 5px 7px;
    }

    table tr {
        background-color: #202020;
    }

        table tr:hover {
            background-color: #333;
        }

.extra-slim-column {
    width: 5%;
}

.slim-column {
    width: 8%;
}

.text-align-center {
    text-align: center;
}

.text-bright, a:link, a:visited {
    color: #c5c1b9
}

    a:link:hover {
        text-decoration: none;
        filter: brightness(150%);
    }

.text-dark {
    color: #808080;
}

.type-ultimate {
    color: #4b75b3 !important;
}

.type-new-game {
    color: #b30000 !important;
}

.cost-sp {
    color: #e8b819;
    font-weight: bold;
}

.cost-hp {
    color: #f71df0;
    font-weight: bold;
}

.affinity-weak {
    color: red;
    font-weight: bold;
}

.affinity-resistant {
    color: #9a10b5;
    font-weight: bold;
}

.affinity-null {
    color: dodgerblue;
    font-weight: bold;
}

.affinity-reflect {
    color: #FFD700;
    font-weight: bold;
}

.affinity-absorb {
    color: #16ce3c;
    font-weight: bold;
}