@model AccessoryListingViewModel

<div>
    <h2 class="text-align-center col-md-12 col-sm-12 col-xs-12">Accessories</h2>
    <table class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Effect</th>
                <th class="text-align-center">Price</th>
                <th class="mobile-hidden">How to Obatin</th>
            </tr>
        </thead>
        @foreach (var accessory in Model.Accessories)
        {
            <tbody>
                @for (int i = 0; i < accessory.Obtained.Count; i++)
                {
                    var obtain = accessory.Obtained[i];
                    <tr>
                        @if (i == 0)
                        {
                            <td rowspan=@accessory.Obtained.Count class="text-bright">@accessory.Name</td>
                            <td rowspan=@accessory.Obtained.Count>@(accessory.Effect == "" ? "-" : accessory.Effect)</td>
                        }

                        <td class="text-align-center">@(obtain.Price == "" ? "-" : obtain.Price)</td>
                        <td class="mobile-hidden">@obtain.Obtain</td>
                    </tr>
                }
            </tbody>
        }
    </table>
    <h3 class="no-results text-error text-align-center col-md-12 col-sm-12 col-xs-12" hidden>No results</h3>
</div>