@model ExamAnswerListingViewModel

@{
    var months = new List<string> { "April", "May", "June", "July", "August", "September", "October", "November", "December", "January", "February" };
}

<div>
    <h2 class="text-align-center">Exam Answers</h2>
    @foreach (var month in months)
    {
        var answers = GetAnswersByMonth(month);
        <div>
            <h3 class="text-align-center col-md-12">@month</h3>
            <table class="col-md-8 col-md-offset-2 col-sm-12">
                <thead>
                    <tr>
                        <th class="text-align-center col-md-1">Date</th>
                        <th class="col-md-7">Question</th>
                        <th class="col-md-4">Answer</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var answer in answers)
                    {
                        <tr>
                            <td class="text-align-center">@answer.DateAsked</td>
                            <td class="text-bright white-space-pre-line">@answer.QuestionAsked</td>
                            <td>@answer.QuestionAnswer</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@functions {
    private List<Answer> GetAnswersByMonth(string month)
    {
        return Model.Answers
            .Where(answer => answer.Month.ToString() == month)
            .ToList();
    }
}