@model BookViewModel

<h1>Book Index</h1>

<table class="col-md-8 col-md-offset-2">
    <thead>
        <tr>
            <th>Available</th>
            <th>Title</th>
            <th>How to Obtain</th>
            <th>Effect</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td class="center-align col-md-1">@book.DateAvailable</td>
                <td class="text-bright col-md-2">@book.Title</td>
                <td style="white-space: pre-line;">@book.Requirement</td>
                <td class="col-md-3">@book.Effect</td>
            </tr>
        }
    </tbody>
</table>