@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/*********
** Custom Properties
*********/
:root {
    --background-colour-dark: #121212;
    --background-colour-medium: #202020;
    --background-colour-light: #282828;
    --background-colour-very-light: #303030;
    --border-medium: 1px solid #404040;
    --text-colour-primary: #c5c1b9;
    --text-colour-secondary: #808080;
    --border-radius-medium: .3rem;
}


/*********
** Blazor styles
*********/
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


/*********
** Tag styles
*********/
* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-colour-primary);
    background-color: var(--background-colour-dark);
    margin: 0;
}

h1, h2 {
    text-align: center;
    font-weight: normal;
    margin-top: 2rem;
    margin-bottom: .6rem;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--text-colour-primary);
    transition: filter .5s;
}

    a:link:hover {
        filter: brightness(150%);
    }

table {
    width: 100%;
    color: var(--text-colour-secondary);
    margin-bottom: 2rem;
    border: var(--border-medium);
    border-spacing: 0; /* this is used instead of border-collapse so border-radius works correctly */
    border-radius: var(--border-radius-medium);
}

    table tr {
        background-color: var(--background-colour-medium);
        transition: background-color .25s;
    }

        table tr:hover {
            background-color: var(--background-colour-very-light);
        }

    table th {
        position: sticky;
        top: -1px;
        color: var(--text-colour-primary);
        background-color: var(--background-colour-light);
        padding: .45rem;
        text-align: left;
        font-size: 1.1rem;
    }

    table td {
        padding: .3rem .45rem;
    }

img {
    max-width: 1.6rem;
    height: auto;
    vertical-align: middle;
}


/*********
** General Styles
*********/
.wide-content {
    width: 85%;
    margin: 0 auto;
}

.content {
    width: 66%;
    margin: 0 auto;
}

.narrow-content {
    width: 33%;
    margin: 0 auto;
}

.text-align-centre {
    text-align: center;
}

.text-primary {
    color: var(--text-colour-primary);
}

.text-secondary {
    color: var(--text-colour-secondary);
}

.font-bold {
    font-weight: bold;
}

.white-space-pre-line {
    white-space: pre-line;
}

/* table related styles */
.narrow-table {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.widest-column {
    width: 60%;
}

.wider-column {
    width: 30%;
}

.wide-column {
    width: 15%;
}

.slim-column {
    width: 8%;
}

.extra-slim-column {
    width: 5%;
}

/* skill cost */
.skill-cost-sp {
    color: #e8b819;
}

.skill-cost-hp {
    color: #f71df0;
}

/* persona types */
.persona-type-ultimate {
    color: #4b75b3 !important;
}

.persona-type-new-game {
    color: #b30000 !important;
}

/* shadow types */
.shadow-type-Normal {
    color: #16ce3c;
}

.shadow-type-MiniBoss {
    color: #ffd700;
}

.shadow-type-Boss {
    color: #b30000;
}

/* persona / shadow element affinities */
.affinity-Weak {
    color: red;
}

.affinity-Resistant {
    color: #9a10b5;
}

.affinity-Null {
    color: dodgerblue;
}

.affinity-Reflect {
    color: #ffd700;
}

.affinity-Absorb {
    font-weight: bold;
    color: #16ce3c;
}


/*********
** Components
*********/
/****
** Navbar
****/
.navbar {
    text-align: center;
    padding-top: .75rem;
}

    .navbar ul {
        margin: 0;
    }

    .navbar li {
        display: inline-block;
    }

        .navbar li a {
            display: inline-block;
            font-size: 1.1rem;
            font-weight: 500;
        }

    .navbar a {
        padding: .9rem;
    }

    .navbar .header {
        font-size: 2rem;
        font-weight: bold;
    }


/*********
** Pages
*********/
/****
** Index
****/
.sources a {
    display: block;
}