<head>
    <title>Persona4GoldenHelper | @ViewBag.Title</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div id="page-header">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-align-center">
                <a class="header" asp-controller="App" asp-action="Index">Persona 4: Golden Helper</a>
            </div>
            <div class="col-xs-2">
                <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">&#9776;</button>
            </div>
        </div>

        <div id="menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav text-align-center">
                <li><a asp-controller="Persona" asp-action="Index">Personas</a></li>
                <li><a asp-controller="App" asp-action="Skills">Skills</a></li>
                <li><a asp-controller="App" asp-action="Books">Books</a></li>
                <li><a asp-controller="App" asp-action="Weapons">Weapons</a></li>
                <li><a asp-controller="App" asp-action="Armor">Armor</a></li>
                <li><a asp-controller="App" asp-action="Accessories">Accessories</a></li>
                <li><a asp-controller="App" asp-action="ExamAnswers">Exam Answers</a></li>
                <li><a asp-controller="App" asp-action="Quests">Quests</a></li>
                <li><a asp-controller="Shadow" asp-action="Index">Shadows</a></li>
                <li><a asp-controller="App" asp-action="Lunches">Lunches</a></li>
                <li><a asp-controller="App" asp-action="SkillCards">Skill Cards</a></li>
                <li><a href="https://github.com/AndyCrocker/Persona4GoldenHelper" target="_blank">Source Code</a></li>
            </ul>
        </div>

        @if (ViewBag.HaveSearchBar != null && ViewBag.HaveSearchBar)
        {
            <input class="text-align-center col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" type="text" placeholder="Search..." spellcheck="false" />
        }
    </div>
    <br />

    @RenderBody()

    <div id="return-to-top" hidden>
        <label id="label">＾</label> @* this is seperate so the font lines up correctly *@
    </div>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/scipts/site.js"></script>

@if (!string.IsNullOrEmpty(ViewBag.PersonaName))
{
    <script src="~/scipts/personaCalculator.js"></script>
}

@if (ViewBag.Title == "Shadows" || ViewBag.Title == "Accessories" || ViewBag.Title == "Armor" || ViewBag.Title == "Weapons")
{
    <script src="~/scipts/mergedRowHighlightFix.js"></script>
}

@RenderSection("Scripts", required: false)
