<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

@RenderSection("Scripts", required: false)
