<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div id="page-header" class="text-center">
        <a class="header" asp-controller="App" asp-action="Index">Persona 4: Golden Helper</a>
        <ul>
            <li><a asp-controller="Persona" asp-action="Index">Personas</a></li>
            <li class="divider"> | </li>
            <li><a asp-controller="App" asp-action="Skills">Skills</a></li>
            <li class="divider"> | </li>
            <li class="text-dark">Calender</li>
            <li class="divider"> | </li>
            <li><a asp-controller="App" asp-action="Books">Books</a></li>
            <li class="divider"> | </li>
            <li class="text-dark">Weapons</li>
            <li class="divider"> | </li>
            <li class="text-dark">Armor</li>
            <li class="divider"> | </li>
            <li class="text-dark">Accessories</li>
            <li class="divider"> | </li>
            <li class="text-dark">Costumes</li>
            <li class="divider"> | </li>
            <li><a asp-controller="App" asp-action="ExamAnswers">Exam Answers</a></li>
            <li class="divider"> | </li>
            <li class="text-dark">Gardening</li>
            <li class="divider"> | </li>
            <li><a asp-controller="App" asp-action="Quests">Quests</a></li>
            <li class="divider"> | </li>
            <li><a asp-controller="Shadow" asp-action="Index">Shadows</a></li>
            <li class="divider"> | </li>
            <li class="text-dark">Items</li>
            <li class="divider"> | </li>
            <li class="text-dark">Social Links</li>
            <li class="divider"> | </li>
            <li><a asp-controller="App" asp-action="Lunches">Lunches</a></li>
            <li class="divider"> | </li>
            <li><a asp-controller="App" asp-action="SkillCards">Skill Cards</a></li>
            <li class="divider"> | </li>
            <li class="text-dark">Dungeons</li>
            <li class="divider"> | </li>
            <li><a href="https://github.com/AndyCrocker/Persona4GoldenHelper" target="_blank">Source Code</a></li>
        </ul>
    </div>
    <br />

    @RenderBody()
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

@if (!string.IsNullOrEmpty(ViewBag.PersonaName)) {
    <script src="~/scipts/personaCalculator.js"></script>
}

@RenderSection("Scripts", required: false)
