<div>
    <h3 class="text-align-center text-error">No persona with the name <span class="text-bright">@ViewBag.Title</span> could be found</h3>
    <h4 class="text-align-center text-dark">Please check you entered the URL correctly. If you got this page from the Personas index page, please report this issue on the GitHub repo.</h4>
</div>